body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #444 25%, #000 25%, #000 50%, #444 50%, #444 75%, #000 75%, #000 100%);
  background-size: 80px 80px;
  color: white; 
}

.header {
  background: linear-gradient(135deg, #333 0%, #666 100%);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titletext {
  font-size: 24px;
  color: #fff; 
  text-decoration: none;
}

.titletext:hover {
  color: #b4d1cb;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
  margin-left: 20px;
}

.navigation ul li:first-child {
  margin-left: 0;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: #b4d1cb;
}

.main-content {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  color: black; 
}

.table th {
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  color: #fff;
}

.table td {
  background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customer-header th {
  background-color: #333; /* Set a dark background color for the table headers */
  color: #fff; 
}

.customer-header {
  padding-top: 20px; /* Add top padding above the table */
}

.customer-content {
  color: #fff; /* Set the text color to white for the table content */
}

